#!/usr/bin/make -f

%:
	dh $@ --with=python3


override_dh_auto_clean:
	rm -rf build/

override_dh_auto_build:
	set -ex \
	python3 setup.py build --executable=/usr/bin/python3

override_dh_auto_install:
	set -ex \
	python3 setup.py install \
				--install-layout=deb \
				--root=$(CURDIR)/debian/unity-tweak-tool
